.messagesContainer{
    margin: 5vh auto;
    width: 40%;
}

.chat{
    background-color: black;
    border-top: solid white 1px;
    border-left: solid white 1px;
    border-radius: 10px 0px 0px 0px;
    margin: 1vh auto 0vh auto;
    padding: 1vh 0.5vw;
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
}

textarea {
    background-color: black;
    color: white;
    display: block;
    resize: none;
    width: 90%;
    margin: 0vh auto 2vh auto;
    padding: 1vh 0.5vw;
    border-bottom: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
}

input[type="button"]{
    display: block;
    margin: 1vh auto;
    padding: 0.6vh 1vw;
}